data/raw/
data/processed/

logs/
*.csv
__pycache__/
*.pyc
venv/

checkpoints/
runs/

.DS_Store
.streamlit/
.ipynb_checkpoints/
reports/Project_Documentation.docx
reports/System_Requirements_Specification.docx
reports/Training_and_Evaluation_Report.docx